<%= form_for(current_user.relationships.build(followed_id: @user.id),
             remote: true) do |f| %>                                      <!-- remote: true, enables Rails to use AJAX -->
    <div><%= f.hidden_field :followed_id %></div>
    <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>